.banner {
    width: 100%;
    background-image: url('../images/background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    height: 553px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.banner h2 {
    position: absolute;
    top: 114px;
    margin-top: 30px;
    color: #E31C1C;
    font-size: 40px;
    line-height: 50.6px;
    letter-spacing: 4px;
    width: 701.05px;
    height: 102px;
    text-align: center;
    letter-spacing: 2px;
}

.banner p {
    color: #32475C;
    font-weight: 300;
    font-size: 24px;
    font-family: Be Vietnam Pro;
    line-height: 31px;
    letter-spacing: 2px;
    width: 1116.17px;
    height: 155px;
    margin: auto;
    text-align: center;
}

.banner h3 {
    margin-bottom: 20px;   
    color: white;
    font-size: 40px;
    font-weight: 700px;
    letter-spacing: 3px;
    line-height: 50.4px;
    letter-spacing: 4px;;
    font-family: Caveat;
}