* {
    font-family: Be Vietnam Pro;
    margin: 0;
}

h1 {
    color: #32475C;
    letter-spacing: 4px;
    font-weight: 900px;
    font-size: 40px;
    margin: 20px;
}

.decoration-line {
    width: 199px;
    height: 4px;
    background-color: #E31C1C;
    position: relative;
    left: 2rem;
}

.card-layout {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
}

.btn-2 {
    display: grid;
    place-items: center;
}

